@theme inline {
    --animate-ai-bounce: ai-bounce 0.4s infinite;
    --animate-popover: popover 100ms ease-in;
    --animate-pulse: pulse var(--duration) ease-out infinite;
    --animate-shimmer: shimmer 1s linear infinite;
    --animate-zoom: zoom 100ms ease-in;

    @keyframes ai-bounce {
        0%,
        100% {
            animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
            transform: translateY(20%);
        }
        50% {
            animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
            transform: translateY(-20%);
        }
    }

    @keyframes popover {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }

    @keyframes pulse {
        0%,
        100% {
            box-shadow: 0 0 0 0 var(--pulse-color);
        }
        50% {
            box-shadow: 0 0 0 8px var(--pulse-color);
        }
    }

    @keyframes shimmer {
        0% {
            transform: translateX(-150%);
        }
        100% {
            transform: translateX(150%);
        }
    }

    @keyframes zoom {
        0% {
            opacity: 0;
            transform: scale(0.95);
        }
        100% {
            opacity: 1;
            transform: scale(1);
        }
    }
}
